<div id="static-content">

    <div >
        <h2>Prochain event</h2>

        <ul class="posts">
          {% for post in site.posts %}
            {% if post.categories[0] == 'annonce-event' %}
                  <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>: {{ post.content | split:'<!-- more -->' | first | replace:'<p>', '' | append:'…' }}</li>
            {% break %}
            {% endif %}
          {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Comptes-rendus et supports</h2>

        <ul class="posts">
          {% for post in site.posts %}
            {% if post.categories[0] == 'compte-rendu' %}
                  <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>: {{ post.content | split:'<!-- more -->' | first | replace:'<p>', '' | append:'…' }}</li>
            {% endif %}
          {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Où et Quand ?</h2>
        <span>
        Sauf indications contraires, le Performance User Group Paris a lieu tous les 3ième Mercredi de chaque mois dans les locaux d'<a href="http://www.octo.com/fr" target="_blank">Octo Technology</a> :
        <br/>
        </span>

        <div class="address">
            <p>
                <b>Octo technology</b>
                <br/>
                34 avenue de
                <br/>
                l'Opéra
                <br/>
                75002 Paris
            </p>
            <p>
                <a href="https://www.google.fr/maps/place/34+Avenue+de+l'Op%C3%A9ra,+75002+Paris/@48.8686243,2.3314411,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66e30648ae649:0xa631d818b2587049!8m2!3d48.8686208!4d2.3336298?hl=fr" target="_blank">
                    <img src="https://goo.gl/maps/dmvJEnaqdbC2" width="425" height="280" frameborder="0" style="border:0">
                </a>
            </p>


        </div>
    </div>

    <div class="twitter-feed" id="twitter-feed">
        <h2>Twitter feed</h2>

        <a class="twitter-timeline" href="https://twitter.com/search?q=%40PerfugParis" data-widget-id="483570572970848256">Tweets de @PerfUGParis</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
 
</div>
